<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://images-americanas.b2w.io/produtos/01/00/img/3069506/1/3069506190_1SZ.jpg"
        class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Samsung Smart Tv 50</h5>
        <p class="card-text">Processador: Processador Crystal 4K PQI (Picture Quality Index): 2000 HDR (High Dynamic
          Range):
          HDR HDR 10+: Sim HLG (Hybrid Log Gamma): Sim Contraste: Mega Contraste Micro Dimming: Esmaecimento UHD Auto
          Depth
          Enhancer: Não Contrast Enhancer: Sim Auto Motion Plus: Sim Modo Filme: Sim Modo Natural: Sim</p>
        <p class="card-text"><small class="text-muted">Fabricante: Samsung</small></p>
        <p class="card-text"><small class="text-muted">Polegadas: 50"</small></p>
        <p class="card-text"><small class="text-muted">Garantia do Fornecedor 12 Meses</small></p>

      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary">Comprar</button>
        <button type="button" class="btn btn-warning">Receber Ofertas</button>
      </div>
    </div>

  </div>
</div>
