<div class="card" style="width: 28rem;">
  <img class="card-img-top" src="https://images-americanas.b2w.io/produtos/01/00/img/3069506/1/3069506190_1SZ.jpg"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Samsung Smart Tv 50</h5>
    <p class="card-text">Processador: Processador Crystal 4K PQI (Picture Quality Index): 2000 HDR (High Dynamic Range):
      HDR HDR 10+: Sim HLG (Hybrid Log Gamma): Sim Contraste: Mega Contraste Micro Dimming: Esmaecimento UHD Auto Depth
      Enhancer: Não Contrast Enhancer: Sim Auto Motion Plus: Sim Modo Filme: Sim Modo Natural: Sim</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Fabricante:	Samsung</li>
    <li class="list-group-item">Tipo de TV: Smart TV</li>
    <li class="list-group-item">Polegadas:	50"</li>
    <li class="list-group-item">Garantia do Fornecedor	12 Meses</li>
  </ul>
  <div class="card-body">
    <button type="button" class="btn btn-primary">Comprar</button>
    <button type="button" class="btn btn-warning">Receber Ofertas</button>
  </div>
</div>


